@font-face {
    font-family: HBO;
    src: url("../fonts/MARBOLD.TTF");
}

:root {
    --navbar-size: 5rem;
    --footer-size: 100%;
    --burger-width: 25px;
}

* img {
    border-radius: 1rem;
}

.logo h1 {
    font-family: HBO, Arial, Helvetica, sans-serif;
    color: red;
    font-size: 3rem;
}

body {
    background: linear-gradient(rgba(75, 75, 75, 0.2), rgba(75, 75, 75, 0.2)), url(../img/hbomax_sizzle_glow.webp) no-repeat;
    background-size: cover;
    z-index: -1;
}

@media (max-width: 825px) {
    .logo h1 {
        font-size: 2rem;
    }
}