    .header {
        padding-top: var(--navbar-size);
    }
    
    .carousel {
        display: grid;
        grid-template-columns: repeat(3, 100%);
        overflow: hidden;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .7));
        /* scroll-behavior: smooth; */
    }
    
    .carousel section {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 40px 0;
    }
    
    .carousel-item {
        margin: 0 1rem 0 1rem;
        height: 25rem;
        width: calc((100vw / 3) - 0.5rem);
    }
    
    .carousel-item>a,
    .carousel-item img {
        height: inherit;
        width: inherit;
    }
    
    .carousel section .carousel-item {
        position: relative;
        padding: 0 2px;
        transition: 250ms all;
    }
    
    .carousel section .carousel-item:hover,
    .carousel section .carousel-item:active {
        margin: 0 40px;
        transform: scale(1.1);
        border-radius: 1rem;
    }
    
    .carousel section .carousel-item .heading {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #fff;
    }
    
    .carousel section .carousel-item .duration {
        position: absolute;
        bottom: 0;
        left: 20px;
        color: #fff;
    }
    
    .carousel section .arrow-button {
        position: absolute;
        color: #fff;
        text-decoration: none;
        font-size: 6em;
        /* background: #000; */
        width: 80px;
        padding: 20px;
        text-align: center;
        z-index: 1;
    }
    
    .carousel section .left-arrow {
        top: 0;
        bottom: 0;
        left: 0;
    }
    
    .carousel section .right-arrow {
        top: 0;
        bottom: 0;
        right: 0;
    }
    
    @media (max-width: 1375px) {
        .carousel-item {
            height: 17rem;
        }
    }
    
    @media (max-width:768px) {
        .item3 {
            display: none;
        }
        .carousel-item {
            margin: 0 1rem 0 1rem;
            height: 25rem;
            width: calc((100vw / 2) - 0.5rem);
        }
    }
    
    @media (max-width:425px) {
        .item2,
        .item3 {
            display: none;
        }
        .carousel-item {
            margin: 0 1rem 0 1rem;
            height: 25rem;
            width: calc(100vw - 0.5rem);
        }
    }