.header {
    padding-top: var(--navbar-size);
}

.header .carrousel {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.header img {
    height: 40rem;
    width: 30rem;
}

.movie {
    margin: 3rem 3rem 3rem 3rem;
}