main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    font-family: HBO, Arial, Helvetica, sans-serif;
    font-size: 11rem;
    color: white;
    text-align: center;
}

main ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main a {
    text-decoration: none;
    color: aliceblue;
    font-family: HBO, Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

main a:hover {
    color: rgb(204, 58, 58);
}

@media (max-width: 1024px) {
    main h1 {
        font-size: 6rem;
    }
    main a {
        font-size: 2rem;
    }
}

@media (max-width: 375px) {
    main h1 {
        font-size: 4rem;
    }
    main a {
        font-size: 1rem;
    }
}