.rejilla {
    padding: 0 12rem 6rem 12rem;
}

.rejilla .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 0 3rem 0;
}

.rejilla img {
    height: 20rem;
}

.rejilla a {
    margin: 1rem;
}

@media (max-width: 1889px) {
    .rejilla img {
        height: 40rem;
    }
}